:root {
  --primary: #212121;
  --secondary: #f5f5f5;
}

/******************************************************************
Helpers
*******************************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/******************************************************************
Global
*******************************************************************/
html,
body {
  margin: 0;
  height: 100vh;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: var(--secondary);
  background-color: var(--primary);
  font-weight: lighter;
  overflow: hidden;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.page {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

[data-action] {
  cursor: pointer;
}

.icons {
  width: 2em;
  height: 2em;
}

/******************************************************************
.panel-info
*******************************************************************/

.panel-info.active {
  display: grid;
}
.panel-info {
  display: none;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../../demo/imgs/1.jpg');
}
.panel-info__album-info {
  padding: 0.5em 5%;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 1%;
}
.panel-info__album-info h1,
h2 {
  margin: 10px 0;
}
.panel-info__album-info h3 {
  font-weight: inherit;
  margin: 10px 0;
}
.panel-info__album-info button {
  display: inline-block;
  color: var(--secondary);
  font-size: 1.1em;
  box-shadow: inset 0 1px 0 0 #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border-radius: 3px;
  border: 1px solid #942911;
  cursor: pointer;
  padding: 6px 25px;
  margin: 10px 20px;
  text-decoration: none;
  text-shadow: 0 1px 0 #854629;
}
.panel-info__album-info button:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

/******************************************************************
.panel-slider
*******************************************************************/
.panel-slider.active {
  display: grid;
}
.panel-slider {
  display: none;
  grid-template-rows: auto 1fr auto;
}
.panel-slider__top,
.panel-slider__bottom {
  display: flex;
  width: 100vw;
  padding: 0 5px;
  justify-content: center;
}

.panel-slider__bottom {
  margin-bottom: 5px;
}

.panel-slider__top > * {
  margin-left: auto;
}

.panel-slider__center {
  display: flex;
  align-items: center;
  width: 100%;
}
.panel-slider__center__image-container {
  flex-grow: 1;
}

#slider-image {
  max-width: 85vw;
  max-height: 85vh;
  border: 5px solid var(--secondary);
}

.panel-slider__options.active {
  visibility: visible;
  opacity: 1;
}

.panel-slider__options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 1%;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  min-width: 250px;
}

.panel-slider__options ul {
  margin: 0;
  padding: 0;
}

.panel-slider__options li {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 15px;
  cursor: pointer;
}

.panel-slider__options li:hover {
  text-decoration: underline;
}

.panel-slider__options .icons {
  font-size: 65%;
  margin-right: 1em;
}

/******************************************************************
.panel-gallery
*******************************************************************/
.panel-gallery.active {
  display: flow-root;
}
.panel-gallery {
  display: none;
  overflow: auto;
  max-width: 100%;
}
.panel-gallery img {
  max-width: 300px;
  height: auto;
  margin: 2em;
  border: 3px solid var(--secondary);
}
